/* Main Div Class */
.mainForm {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 50px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

/* Design of the whole Calculator */
input {
    width: 240px;
    border: none;
    padding: 24px 0px;
    margin: 10px;
    background: transparent;
    color: #ffffff;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    font-weight: 100;
    font-size: 50px;
}

/* Position of Textfield */
.textField {
    margin-top: 32px;
    margin-bottom: -25px;
}

/* Font Color of the Textfield */
input::placeholder {
    color: #ffffff;
}

/* Buttons for AC, +/-, % */
.top {
    font-size: 23px;
    background: #5c5b60;
    color: #ffffff;
}

/* Buttons for /, x, -, +, = */
.operator {
    background: #ff9f09;
}

/* Buttons for zero only */
.zero {
    width: 124px;
    border-radius: 60px;
}

/* Design of every Buttons in Calculator */
button {
    width: 58px;
    height: 58px;
    margin: 4px 2px;
    border: none;
    border-radius: 100px;
    background: #2b2a30;
    color: #ffffff;
    font-size: 23px;
    cursor: pointer;
}