* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #566787;
    background: #e7e7e7;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

/* ======================================== HEADER ======================================== */

.navbar {
    padding: 1% 10%;
}

.navbar-brand {
    font-weight: 700;
}

.collapse {
    display: flex;
    justify-content: end;
}

/* ======================================== MAIN ======================================== */

main {
    font-family: Arial, Helvetica, sans-serif;
}

.divIntroduction {
    background-color: #212429;

    display: flex;
    justify-content: center;

    border-radius: 3px;

    margin: 2rem 0rem;
    padding: 10px;
    width: 100%;
}

.divIntroduction h1 {
    color: #f5f5f5;
    font-weight: 800;
}

.topSection > div > img {
    height: auto;
    margin-top: -3rem;
}

.coverPhoto {
    width: 100%;
}

.profileIcon {
    display: flex;
    justify-content: center;
    margin-top: -12rem;
}

.profileIcon > img {
    width: 330px;
    border-radius: 100%;
}

/* .mainSection {
    margin: 3% 10%;
} */

.resumeHeader hr {
    background-color: #000000;
    border-radius: 50px;
    height: 4px;
}

.resumeHeader {
    text-align: center;
}

.resumeHeader h2 {
    color: #212429;
    font-size: 27px;
    margin: 1rem 0rem;
    font-weight: 800;
}

.resumeBody {
    margin-top: 1rem;
}

.divContent h3,
.divColumnContent h3 {
    background-color: #212429;
    font-size: 25px;
    color: #f5f5f5;
    padding: 5px 20px;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-weight: 800;
    text-align: center;
}

.divContent {
    margin: 8rem 0rem;
    border-radius: 8px;
}

.divContent img,
.divColumnContent img {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -1rem;
}

.divContent p,
.divColumnContent p {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0px 0px 8px 8px;
}

.divInformation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInnerInformation {
    text-align: left;
}

.imgContent {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.divContent p,
.divColumnContent p {
    color: #212429;
    margin-top: 1rem;
    font-size: 14.5px;
    line-height: 25px;
    text-indent: 5rem;
    text-align: justify;
}

.carousel-item img {
    height: 625px;
}
/* 
.card > img {
    border-radius: 8px 8px 0px 0px;
}

.card-introduction {
    border-radius: 0px 0px 8px 8px;
} */

.card-introduction h5 {
    font-weight: 700;
    text-transform: uppercase;
}

.card-hover:hover {
    transition: 100ms;
    transform: scale(1.02);
}

.card-justify {
    text-align: justify;
}

.btn-introduction {
    width: 100%;
}

.divResumeColumn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 8rem 0rem;
}

.divColumnContent {
    width: 50%;
}

.divColumnContent img {
    height: 280px;
    background-size: contain;
}

/* ======================================== FOOTER ======================================== */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer > section {
    background-color: #212429;
    color: #f5f5f5;
}

footer > section > div {
    padding: 1rem 10rem;
    height: 2;
    text-align: center;
    text-transform: uppercase;
}

/* ======================================== LOGIN ======================================== */

.loginSection {
    margin-top: 6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    width: 80%;
}

.divLoginBorder h1,
.divRegisterBorder h1 {
    margin-bottom: 1rem;
    font-weight: 800;
    /* background-color: #e7e7e7; */
    background-color: transparent;
    color: #212429;
}

.registerForm input[type="Text"] {
    text-transform: capitalize;
}

.loginForm input,
.loginForm button,
.registerForm input,
.registerForm button {
    padding: 0.8rem;
    border-radius: 6px;
    width: 100%;
}

.loginForm input,
.registerForm input {
    background-color: #f5f5f5;
}

.loginForm button,
.registerForm button {
    background-color: #212429;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
}

.loginForm button:hover,
.registerForm button:hover {
    transition: 100ms;
    background-color: rgb(87, 87, 87);
}

.loginForm label,
.loginForm button,
.registerForm label,
.registerForm button {
    margin-top: 0.5rem;
}

.loginForm label,
.registerForm label {
    color: #212429;
    font-weight: 700;
}

.loginForm p {
    font-size: 12.5px;
    margin-top: 1rem;
}

.italicText {
    font-style: italic;
}

.divLoginBorder {
    padding: 1rem;
    border-radius: 8px;
    /* border: 2px solid #000000; */
}

.divLoginBorder hr {
    background-color: #000000;
    border-radius: 50px;
    height: 1px;
}

.sectionColumn {
    display: flex;
    flex-direction: row;
}

.divLeftColumn {
    background-image: url('/week-two/assets/images/login-image.png');
    background-size: cover;
    width: 60%;
    min-height: 90vh;
}

.divRightColumn {
    background-color: #e7e7e7;
    width: 40%;
    min-height: 90vh;
}

/* ======================================== REGISTER ======================================== */

.divRegister {
    display: flex;
    gap: 1rem;
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.divRegisterHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.divRegisterBorder h1 {
    font-weight: 800;
}

.divRegisterButton {
    display: flex;
    justify-content: center;
}

.divRegisterButton button {
    background-color: #212429;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 6px;
}

.divRegisterButton button:hover {
    transition: 100ms;
    background-color: rgb(87, 87, 87);
}

.divRegisterBorder {
    margin: 3.5rem;
    padding: 1rem;
    border-radius: 8px;
    /* border: 2px solid #000000; */
}

.divRegisterBorder hr {
    background-color: #000000;
    border-radius: 50px;
    height: 1px;
}

.divRegisterBorder p {
    margin-bottom: -1rem;
}

.sectionRegister {
    flex-direction: row-reverse;
}

.divRegisterLeft {
    background-image: url('/week-two/assets/images/register-image.png');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.divRegisterRight {
    width: 50%;
}

/* ======================================== DASHBOARD HEADER ======================================== */

.logoutButton {
    background-color: #c80404;

    margin-left: 2rem;
    border-radius: 6px;
}

.logoutButton:hover {
    transition: 100ms;
    background-color: rgba(181, 3, 3, 0.748);
}

.divDashboard {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.divDashboardColumn {
    background-color: #353a40;
    color: #f5f5f5;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 4rem;
}

.divDashboardColumn:hover {
    transition: 120ms;
    transform: scale(1.02);
}

.divDashboardColumn img {
    border-radius: 4px;
    height: 215px;
    margin-bottom: 0.5rem;
}

.divDashboardColumn a {
    color: #f5f5f5;
    text-decoration: none;
}

.divIntroductionDashboard h1 {
    color: #ffffff;
}

/* ======================================== CRUD OPERATION ======================================== */

.card {
    color: #212429;
    border: none;
}

.card-header {
    background-color: #212429;
    color: #ffffff;
}

.card-header h4 {
    margin-top: 0.5rem;
    font-weight: 700;
}

.card h5 {
    color: #2595e6;
    font-weight: 5  00;
}

.card-header > h4 > a {
    margin-top: -0.3rem;
    background-color: #188754;
    color: #f5f5f5;
    border: none;
    padding: 0.5rem 5rem;
}

.card-header > h4 > a:hover {
    background-color: #16a764;
    color: #ffffff;
    border: none;
}

.card-body-color {
    background-color: #e6e6e6;
    padding: 5px;
}

.card-operation {
    padding: 15px 20px;
}

.btn-primary {
    background-color: #212429;
    border: none;
    padding: 0.5rem 5rem;
}

.btn-primary:hover {
    background-color: #454a52;
    border: none;
    padding: 0.5rem 5rem;
}

.mb-3 label {
    font-size: 14px;
    font-weight: 700;
}

.btnFunction {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btnFunction a {
    width: 100%;
}

.btn-success:hover {
    background-color: #04d627;
    border: 1px solid #04d627;
    color: #000000;
}

.btn-danger:hover {
    background-color: #ff5252;
    border: 1px solid #ff5252;
    color: #000000;
}

.btn-info {
    background-color: #0375b7;
    border: 1px solid #0375b7;
    color: #ffffff;
}

tr {
    text-align: center;
}

.alert-background {
    background-color: #e6e6e6;
    border: none;
    color: #212429;
}

/* ======================================== CALCULATOR ======================================== */

.accountSection {
    background-color: #686c70;
}

.mainCalculator {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background: #000000;
}

/* ======================================== MOBILE RESPONSIVE ======================================== */

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 900px) {
    .logoutButton {
        margin-left: 0rem;
        background-color: transparent;
        border-radius: 0px;
    }
}

.btn-dashboard {
    background-color: #2595e6;
    color: #ffffff; 
}

.btn-dashboard:hover {
    background-color: #0d77c3;
    color: #ffffff; 
}

.card-dashboard {
    background-color: #e5e5e5;
}

.card-dashboard p,
.card-dashboard h5 {
    color: #000000;
}

.card-dashboard h5 {
    color: #2595e6;
}







.sectionMargin {
    margin: 0% 15%;
}